body {
    background-color: #f0f0f0;
    font-family: 'Noto Sans JP', 'Noto Sans', sans-serif;
}

.section {
    margin-top: 300px;
    border: solid 1px #000;
    padding: 20px;
    border-radius: 50px;
}

#kanji-word {
    font-size: 3em;
}

#romaji-word {
    font-size: 3em;
}

#text-input {
    font-size: 2em;
    text-align: center;
    border: none;
    border-bottom: 5px solid #000;
    background-color: #f0f0f0;
    outline: none;
}

.correct {
    color: green;
    font-size: 2em;
}

#hp-var{
    height: 100%; /* コンテナの高さに合わせる */
    background-color: #4caf50; /* 緑色のゲージ */
    border-radius: 8px; /* 左側を丸める */
    transition: width 0.3s ease; /* 耐久値が減ったときのアニメーション */
}

img {
    width: 100px;
    height: 100px;
}

.left-var{
    font-size: 1.5em;

}

#mode a{
    text-decoration: none;
}


#start-button {
    font-size: 2em;
    border: #000 solid 1px;
    cursor: pointer;
}


#start-button:hover {
    background-color: #7ba4cc;
    transform: scale(1.1);
    transition: 0.3s;
}
#mode:hover {
    color: #7ba4cc;
    transform: scale(1.1);
    transition: 0.3s;
}

.modeactive {
    border: #000 solid 3px;
    border-radius: 10px;
}
